/* Global */

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    max-width: 1440px;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Bebas Neue', cursive;
    color: #363958;
}
p{
    font-family: Roboto;
}

span{
    color: #fabe4c;
}

button{
    background: linear-gradient(180deg, #A4BC46 0%, #85A019 100%);
    color: white;
    font-weight: 400;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Buttons */
button:focus {
    outline: none;
    color: #fff;
    background: firebrick;
}

/* Banner */
.banner-header{
    font-weight: 700;
    font-size: 80px;
    font-weight: bold;
    color: #363958;
}


/* Card */
.card-style{
    box-sizing: border-box;
    background-color: #2bd6d6;
    border-radius: 20px;
    transition: transform 0.5s ease-in-out; 
    padding: 2%;
    margin: 5px;
    color: white;
    box-shadow: 20px 20px 40px palegreen;
}

.card-style:hover{
    box-sizing: border-box;
    background-color: #09090a;
    border-radius: 10px;
    overflow: hidden;
    transform: scale(1.1); 
}  

/* .card-img{
    border-radius: 10px;
    transition: transform 0.5s ease-in-out;
}

.card-img:hover{
    transform: scale(1.04);
    background-color: black;
} */

/* Contact Section */
.contact-seller{
    box-shadow: 5px 5px 20px palegreen;
    padding: 0 20px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* For Mobile */
